<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/signin.css">
    <title>Sign In</title>
</head>
<body>
   <div class="back">
        <div class="form">
            <form action="">
                <div class="content">
                    <center><h1>PROJECT</h1></center>
                    <input type="text" placeholder="Username" name="username"><br>
                    <input type="password" placeholder="Password" name="password"><br>
                    <button>Sign In</button>
                    <a href="/signup"><font>Don't have an account? Sign Up.</font></a>
                    <a href="/login"><button type="button" id="admin"><img src="Icons/user.png" id="ad"></button></a>
                </div>
            </form>
        </div>
   </div> 
</body>
</html>