<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/admin-orders.css">
    <title>NexusMall</title>
</head>

<body>
    <nav>
        <div class="logo"><img src="Images/Exclusion 1.png" alt="" id="logo"></div>
        <div class="links">
            <a href="/dashboard"><img src="Icons/dashboard.png" id="other"></a>
            <a href="/users"><img src="Icons/users.png" id="other"></a>
            <a href="/products-admin"><img src="Icons/box.png" id="other"></a>
            <a href="/admin-orders"><img src="Icons/clipboard.png" id="home"></a>
        </div>
        <div class="logout"><img src="Icons/logout.png" id="logout"></div>
    </nav>
    <div class="content">
        <div class="title">
            <font id="none">All Orders</font>
        </div>
        <div class="display">
            <div class="orders">
                <div class="order">
                    <div class="desc">
                        <b>Product:</b> <font>KEYBOARD</font> <br><br>
                        <b>Ordered by:</b>
                        <font>CHLOMI Gutabarwa Justifie </font> <br><br>
                        <b>Date:</b>
                        <font>13 - 06 - 2023</font><br><br>
                        <b>Status:</b>
                        <font>Pending...</font><br><br>
                        <div class="linked">
                            <button id="confirm"><img src="../Icons/check.png" alt=""></button> 
                            <button id="decline"><img src="../Icons/cross.png" alt=""></button>
                        </div>
                    </div>
                </div>
                <div class="order">
                    <div class="desc">
                        <b>Product:</b> <font>KEYBOARD</font> <br><br>
                        <b>Ordered by:</b>
                        <font>CHLOMI Gutabarwa Justifie </font> <br><br>
                        <b>Date:</b>
                        <font>13 - 06 - 2023</font><br><br>
                        <b>Status:</b>
                        <font>Pending...</font><br><br>
                        <div class="linked">
                            <button id="confirm"><img src="../Icons/check.png" alt=""></button> 
                            <button id="decline"><img src="../Icons/cross.png" alt=""></button>
                        </div>
                    </div>
                </div>
                <div class="order">
                    <div class="desc">
                        <b>Product:</b> <font>KEYBOARD</font> <br><br>
                        <b>Ordered by:</b>
                        <font>CHLOMI Gutabarwa Justifie </font> <br><br>
                        <b>Date:</b>
                        <font>13 - 06 - 2023</font><br><br>
                        <b>Status:</b>
                        <font>Pending...</font><br><br>
                        <div class="linked">
                            <button id="confirm"><img src="../Icons/check.png" alt=""></button> 
                            <button id="decline"><img src="../Icons/cross.png" alt=""></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>