<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/dashboard.css">
    <title>NexusMall</title>
</head>

<body>
    <nav>
        <div class="logo"><img src="Exclusion 1.png" alt="" id="logo"></div>
        <div class="links">
            <a href="/dashboard"><img src="Icons/dashboard.png" id="home"></a>
            <a href="/users"><img src="Icons/users.png" id="other"></a>
            <a href="/products-admin"><img src="Icons/box.png" id="other"></a>
            <a href="/admin-orders"><img src="Icons/clipboard.png" id="other"></a>
        </div>
        <div class="logout"><img src="Icons/logout.png" id="logout"></div>
    </nav>
    <div class="content">
        <div class="title">
            <h1>Dashboard</h1>
        </div>
        <div class="details">
            <div class="show">
                <div class="view">
                    <h1 id="title">Users</h1><br>
                    <h1>8</h1>
                    <p>Active Users</p>
                </div>
                <div class="view">
                    <h1 id="title">Products</h1><br>
                    <h1>17</h1>
                    <p>In Stock</p>
                </div>
                <div class="view">
                    <h1 id="title">Orders</h1><br>
                    <h1>8</h1>
                    <p>Pending orders</p>
                </div>
            </div>
            <div class="other">
                <div class="users">
                    <h1>Users:</h1><br>
                    <div class="user">
                        <div class="img">
                            <img src="user.png" alt="">
                        </div>
                        <div class="desc">
                            <div class="text"><b>Username:</b>
                                <p>Chlomi</p>
                            </div>
                            <div class="text"><b>First Name:</b>
                                <p>Chlomi</p>
                            </div>
                            <div class="text"><b>Last Name(s):</b>
                                <p>Gutabarwa</p>
                            </div>
                            <div class="text"><b>E-mail:</b>
                                <p>chlomi2006@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products">
                    <div class="showcase">
                        <div class="img"><img src="keyboard.png" alt=""></div>
                        <div class="text">
                            <h1>
                                KEYBOARD
                            </h1><br>
                            <b>PRICE:</b>
                            <p>$1200
                            </p>
                            <button><img src="Icons/cart.png" alt="Order NOW!"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>