<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/home.css">
    <title>NexusMall</title>
</head>
<body>
    <nav>
        <div class="logo"><img src="Images/Exclusion 1.png" alt="" id="logo"></div>
        <div class="links">
                <img src="Icons/home.png" id="home">
                <img src="Icons/browse.png" id="other">
                <a href="/orders"><img src="Icons/account.png" id="other"></a>
        </div>
        <div class="logout"><img src="Icons/logout.png" id="logout"></div>
    </nav>
    <center>
        <h1 id="head">NexusMall</h1>
        <p id="head">
            Your premier online shopping destination! Discover a world of convenience and 
            style as we bring you an exclusive selection of cutting-edge electronics, 
            fashion-forward apparel, and essential home goods.At NexusMall, we pride 
            ourselves on providing a seamless and secure shopping experience. Enjoy 
            the ease of navigating our user-friendly platform, and stay ahead of the 
            trends with our curated collection of top-quality products. Experience the 
            future of online shopping at NexusMall, where your satisfaction is our priority. 
            <h2>Happy shopping!</h2>
        </p>
    </center>
    <div class="content">
        
        
    <% for (let i = 0; i < 3; i++) { %>
            <div class="showcase">        
                <div class="img"><img src="data:<%= product[i].image.contentType %>;base64,<%= product[i].image.data.toString('base64') %>" alt=""></div>
                <div class="text">
                    <h1><%= product[i].productName  %></h1><br>
                    <b>PRICE:</b>
                    <p>$<%= product[i].unitPrice %></p>
                    <button><img src="Icons/cart.png" alt="Order NOW!"></button>
                </div>
            </div>
    <%  } %>
        
    </div>
</body>
</html>