<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/signin.css">
    <title>Sign In</title>
</head>
<body>
   <div class="back">
        <div class="form">

            <form action="/login" method="post">                              
                <div class="content">
                    <center><h1>User Login</h1></center>
                    <input type="text" placeholder="Email" name="email"><br>
                    <p class="error emailError"></p>
                    <input type="password" placeholder="Password" name="password"><br>
                    <p class="error passwordError"></p>

                    <button>Sign In</button>
                    <a href="/signup"><font>Don't have an account? Sign Up.</font></a>
                    <a href="/admin"><button type="button" id="admin"><img src="Icons/admin.png"></button></a>
                </div>
            </form>
        </div>
   </div> 
   <script>
     const form = document.querySelector('form')
     form.addEventListener('submit', async (e) => {
       e.preventDefault();

       const emailError = document.querySelector('.emailError')
       const passwordError = document.querySelector('.passwordError')

       // reset errors
       passwordError.textContent = '';
       emailError.textContent = '';
       //getting values
       const email = form.email.value
       const password = form.password.value
       try {

         const res = await fetch('/login', {
           method: 'POST',
           body: JSON.stringify({
             email,
             password
           }),
           headers: {
             'content-Type': 'application/json'
           },
         });
         const data = await res.json()
         if (data) {
           emailError.textContent = data.email
           passwordError.textContent = data.password
           console.log(data);
         }
         if (data.user) {
           window.location.assign('/')
         }
       } catch (err) {
         console.log(err);
       }

     })
   </script>
</body>
</html>