<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/orders.css">
    <title>NexusMall</title>
</head>
<body>
    <nav>
        <div class="logo"><a href="/"><img src="Images/Exclusion 1.png" alt="" id="logo"></a></div>
        <div class="links">
                <a href="/"><img src="Icons/home.png" id="other"></a>
                <a href=""><img src="Icons/browse.png" id="other"></a>
                <a href=""><img src="Icons/account.png" id="home"></a>
        </div>
        <div class="logout"><a href="/logout"><img src="Icons/logout.png" id="logout"></a></div>
    </nav>
    <div class="content">
        <div class="title">
            <font>My Orders</font>
        </div>
        <div class="display">
            <div class="orders">
                <div class="order">
                    <div class="img">
                        <img src="keyboard.png" alt="">
                    </div>
                    <div class="desc">
                        <div class="text"><b>Product:</b><p>KEYBOARD</p></div>
                        <div class="text"><b>Ordered by:</b><p>Chlomi</p></div>
                        <div class="text"><b>Date:</b><p>13 - 06 - 2023</p></div>
                        <div class="text"><b>Status:</b><p>Pending...</p></div>
                    </div>
                </div>   
                <div class="order">
                    <div class="img">
                        <img src="keyboard.png" alt="">
                    </div>
                    <div class="desc">
                        <div class="text"><b>Product:</b><p>KEYBOARD</p></div>
                        <div class="text"><b>Ordered by:</b><p>Chlomi</p></div>
                        <div class="text"><b>Date:</b><p>13 - 06 - 2023</p></div>
                        <div class="text"><b>Status:</b><p>Pending...</p></div>
                    </div>
                </div>   
        </div>
    </div>
</body>
</html>