<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record Product</title>
    <link rel="stylesheet" href="Styles/record.css">
</head>
<body>
    <div class="back">
         <div class="form">
             <form action="/save" method="post" enctype="multipart/form-data">
                 <div class="file">
                     <input type="file" name="productImage" id="file">
                     <label for="file"><img src="../Icons/camera.png" alt=""></label><br>
                 </div>
                 <div class="other">
                     <input type="text" placeholder="Product Name" name="productName" id="b1"><br>
                     <input type="number" placeholder="Unit Price" name="unitPrice" id="names">
                     <input type="number" placeholder="Product Quantity" name="productQuantity" id="names"><br>
                     <button type="submit">Post Product</button>
                 </div><br>
                 <h1>Product Details</h1>
             </form>
         </div>
    </div> 
 </body> 
</html>