<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/signup.css">
    <script src="scripts/signup_script.js"></script>
    <title>Sign Up</title>
</head>
<body>
    <div class="back">
    <div class="form">
            <img src="../Icons/left-arrow.png" id="img">
            <!-- Nigga who you used 'sighup' -->
            <form method="post" action="/signup">
                <section id="Form1">
                    <center><h1>NexusMall</h1></center>
                    <input type="text" placeholder="Username" autocomplete="off" required><br>
                    <input type="text" placeholder="First Name" autocomplete="off" required><br>
                    <input type="text" placeholder="Last Name(s)" autocomplete="off" required><br>
                    <button type="button" id="Next1">Next</button>
                    <a href="/login"><font>Already got an account? Sign In.</font></a>
                </section>
                <section id="Form2">
                    <center><h1>NexusMall</h1></center>
                    <input type="email" placeholder="Your Email" autocomplete="off" required><br>
                    <input type="password" placeholder="Password" autocomplete="off" required><br>
                    <input type="password" placeholder="Confirm Password" autocomplete="off" required><br>
                    <button type="submit" id="Next2">Sign Up</button>
                </section>
             </form>
         </div>
    </div>
 </body>
</html>
