<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/users.css">
    <title>NexusMall</title>
</head>

<body>
    <nav>
        <div class="logo"><img src="Exclusion 1.png" alt="" id="logo"></div>
        <div class="links">
            <img src="dashboard.png" id="other">
            <img src="users.png" id="other">
            <img src="clipboard.png" id="home">
        </div>
        <div class="logout"><img src="logout.png" id="logout"></div>
    </nav>
    <div class="content">
        <div class="title">
            <font>All users:</font>
        </div>
        <div class="display">
            <div class="users">
                <div class="user">
                    <div class="img">
                        <img src="user.png" alt="">
                    </div>
                    <div class="desc">
                        <div class="text"><b>Username:</b>
                            <p>Chlomi</p>
                        </div>
                        <div class="text"><b>First Name:</b>
                            <p>Chlomi</p>
                        </div>
                        <div class="text"><b>Last Name(s):</b>
                            <p>Gutabarwa</p>
                        </div>
                        <div class="text"><b>E-mail:</b>
                            <p>chlomi2006@gmail.com</p>
                        </div>
                        <button id="decline"><img src="delete.png" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>