<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/users.css">
    <title>NexusMall</title>
</head>

<body>
    <nav>
        <div class="logo"><img src="Images/Exclusion 1.png" alt="" id="logo"></div>
        <div class="links">
            <a href="/dashboard"><img src="Icons/dashboard.png" id="other"></a>
            <a href="/users"><img src="Icons/users.png" id="home"></a>
            <a href="/products-admin"><img src="Icons/box.png" id="other"></a>
            <a href="/admin-orders"><img src="Icons/clipboard.png" id="other"></a>
        </div>
        <div class="logout"><a href="/logout"><img src="Icons/logout.png" id="logout"></a></div>
    </nav>
    <div class="content">
        <div class="title">
            <font>All users:</font>
        </div>
        <div class="display">
            <div class="users">
                <% users.forEach(user => { %>
                    
                    <div class="user">
                        <div class="img">
                            <img src="Icons/user.png" alt="">
                        </div>
                        <div class="desc">
                            <div class="text"><b>Username:</b>
                                <p> <%=user.username %> </p>
                            </div>
                            <div class="text"><b>First Name:</b>
                                <p> <%=user.firstname %></p>
                            </div>
                            <div class="text"><b>Last Name(s):</b>
                                <p> <%=user.lastname %></p>
                            </div>
                            <div class="text"><b>E-mail:</b>
                                <p> <%=user.email %></p>
                            </div>
                        </div>
                    </div>
               <% }); %>
            </div>
        </div>
</body>

</html>