@font-face {
    font-family: 'Dem';
    src: url('../Fonts/Dosis/Dosis-VariableFont_wght.ttf');
}
* {
    font-family: Dem;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 50%;
    height: 50%;
}
h1{
    font-size: 5rem;
}
button{
    cursor: pointer;
    background-color: #FF4433;
    border: none;
    color: white;
    height: 35px;
    padding: 1%;
    border-radius: 10px;
    width: 15%;
}
button:hover{
    background-color: #db3c2e;
}