@font-face {
    font-family: 'Dem';
    src: url('../Fonts/Dosis/Dosis-VariableFont_wght.ttf');
}
* {
    font-family: Dem;
}
body{
    background-color: rgb(205, 205, 205);
    width: 100%;
    height: 99vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}
nav{
    position: absolute;
    top: 21%;
    left: 1%;
    background-color: #0a2351;
    width: 4%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 10px;
}
img{
    width: 40%;
    margin-bottom: 100%;
    cursor: pointer;
    padding: 20%;
    margin: 10%;
}
img#home{
    background-color: #FF4433;
    border-radius: 10px;
    transition: .3s ease;
}
img#home:hover{
    background-color: #db3c2e;
}
img#other{
    border-radius: 10px;
    transition: .3s ease;
}
img#other:hover{
    background-color: gray;
}
.logo{
    position: absolute;
    top: 1%;
}
.logout{
    position: absolute;
    bottom: 1%;
}
.content{
    background: linear-gradient(#0a2351 35%, white 10%);
    box-shadow: 5px 5px 20px -10px black;
    height: 90%;
    width: 87%;
    border-radius: 10px;
    text-align: start;
    overflow: hidden;
    margin: 3% 5% 5% 7%;
}
.title{
    color: white;
    margin: 2.5%;
    position: relative;
    width: 2%;
}
.details{
    background-color: transparent;
    width: 100%;
    height: 80%;
    margin-top: 5%;
}
.show{
    height: 37%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.view{
    height: 80%;
    width: 30%;
    background-color: white;
    box-shadow: 5px 5px 20px -10px black;
    border-radius: 10px;
}
.view h1#title{
    margin: 5% 5% 0% 5%;
}
.view h1{
    margin: 0% 5% 5% 5%;
}
.view p{
    margin: 0% 5% 5% 5%;
}
.users{
    background-color: white;
    height: 92%;
    width: 70.5%;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(226, 226, 226);
    margin-left: 2.5%;
    overflow: scroll;
    float: left;
}
.users::-webkit-scrollbar{
    display: none;
}
.user{
    border-radius: 10px;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 5px 5px 10px rgb(226, 226, 226);
    width: 96%;
    height: 18%;
    margin: 1%;
    padding: 1%;
}
.img{
    height: 100%;
    width: 8%;
    border-radius: 10px;
    float: left;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a2351;
}
.img img{
    width: 50%;
}
h1{
    margin: 0;
}
.desc{
    height: 100%;
    display: flex;
}
.text{
    height: 100%;
    width: 80%;
    margin-left: 4%;
    font-stretch: narrower;
}
.text h1,
.text b{
    color: #FF4433;
    margin: 0;
    font-family: Dem;
}
h1{
    padding: 0;
}
button{
    cursor: pointer;
    background-color: green;
    height: 55%;
    width: 10%;
    border: none;
    margin-top: 1%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
}
button#decline{
    background-color: #FF4433;
    margin-left: 1%;
}
button#decline:hover{
    background-color: #db3c2e;
}
button:hover{
    background-color: rgb(1, 94, 1);
}
button img{
    width: 70%;
}
.other{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}
.products{
    background-color: red;
    width: 20%;
    height: 98%;
    margin-right: 2.5%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.showcase{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border: none;
    text-transform: capitalize;
    box-shadow: 5px 5px 20px -10px black;
}
.showcase .img{
    height: 50%;
    width: 95%;
    background-color: #0a2351;
    border-radius: 8px;
    border: .1px solid rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}
.showcase h1{
    font-size: 1.5rem;
}
.showcase .text{
    margin: 2%;
}
.showcase button{
    position: absolute;
    bottom: 2%;
    right: 2%;
    background-color: #FF4433;
    border: none;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14%;
    padding: 3%;
    border-radius: 10px;
    transition: .3s ease;
    cursor: pointer;
}
.showcase button:hover{
    background-color: #db3c2e;
}