@font-face {
    font-family: 'Dem';
    src: url('../Fonts/Dosis/Dosis-VariableFont_wght.ttf');
    }  
*{
    font-family: Dem;
}
body{
    background: url(../Images/bgg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body::-webkit-scrollbar{
    display: none;
}
.content{
    width: 70%;
    height: 85%;
    position: relative;
}
.title{
    display: flex;
    justify-content: center;
    color: white;
}
.title h1{
    font-size: 5rem;
    margin: 0;
}
.desc p{
    display: flex;
    justify-content: center;
    color: white;
    width: 60%;
}
h2{
    color: white;
}
.cont{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.showcase{
    position: relative;
    height: 80%;
    width: 60%;
    background-color: white;
    border-radius: 10px;
    border: none;
    text-transform: capitalize;
    box-shadow: 5px 5px 20px -10px black;
    padding: 1%;
}

.img{
    height: 100%;
    width: 40%;
    float: left;
    margin-right: 5%;
    background-color: #0d2e6c75;
    border-radius: 8px;
    border: .1px solid rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img{
    width: 70%;
    transition: .3s ease;
}
.img img:hover{
    width: 80%;
}
.text h1{
    color: #0a2351;
    margin-bottom: 0;
}
.text b{
    color: #FF4433;
}
img{
    cursor: default;
}

h2{
    color: white;
}
.showcase button{
    position: absolute;
    bottom: 2%;
    right: 2%;
    background-color: #FF4433;
    border: none;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    padding: 3%;
    border-radius: 10px;
    transition: .3s ease;
    cursor: pointer;
}
button:hover{
    background-color: #db3c2e;
}
p#desc{
    height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show before ellipsis */
    -webkit-box-orient: vertical;
}
button img{
    width: 20px;
    margin: 0;
    cursor: pointer;
}
h1#title{
    margin: 0 0 0 19%;
    color: white;
}
.desc button{
    border: none;
    background-color: #FF4433;
    border-radius: 10px;
    width: 10%;
    height: 35px;
    color: white;
    transition: .3s ease;
    cursor: pointer;
}
.desc button:hover{
    background-color: #db3c2e;
}